@font-face {
  font-family: 'song-myung'; /* 폰트 이름을 원하는대로 설정하세요 */
  src: url('./Song_Myung/SongMyung-Regular.ttf') format('truetype'); /* 폰트 파일 경로를 정확하게 지정하세요 */
}

@font-face {
  font-family: 'namum-myeongjo-regular'; 
  src: url('./Nanum_Myeongjo/NanumMyeongjo-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'namum-myeongjo-bold'; 
  src: url('./Nanum_Myeongjo/NanumMyeongjo-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'namum-myeongjo-ExtraBold'; 
  src: url('./Nanum_Myeongjo/NanumMyeongjo-ExtraBold.ttf') format('truetype');
}
